<md-toolbar class="md-whiteframe-1dp">
    <div class="md-toolbar-tools">
        <h2><span>{{ctrl.line.identifier}} - {{ctrl.line.name}}</span></h2>
        <span flex></span>
        <div class="divider"></div>
        <md-button class="md-icon-button" ng-click="ctrl.openEditLine(ctrl.line.id, $event)">
            <md-icon>edit</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex layout="column" md-scroll-y>
    <div class="content">
        <div ncy-breadcrumb></div>
        <div class="white-bg md-whiteframe-4dp" layout="column" layout-padding>
            <h2>Linha</h2>
            <div layout="row">
                <div flex="50">
                    <strong>Nome</strong><br>
                    {{ctrl.line.identifier}} - {{ctrl.line.name}}
                </div>
                <div flex="50">
                    <strong>Grupo de Linhas</strong><br>
                    {{ctrl.line.line_group.name}} - {{ctrl.line.line_group.city}}
                </div>
            </div>
            <div layout="row">
                <div flex="50">
                    <strong>Itinerário de Referência</strong><br>
                    <a ng-href="{{ctrl.line.itinerary_link}}" target="_blank">Link</a>
                </div>
                <div flex="50">
                    <strong>Horário de Referência</strong><br>
                    <a ng-href="{{ctrl.line.timetable_link}}" target="_blank">Link</a>
                </div>
            </div>
            <div>
                <strong>Caminho</strong><br>
                {{ctrl.line.path.join(' → ')}}
            </div>
            <h2>Rotas</h2>
            <div layout="row">
                <div flex="{{100/Object.keys(ctrl.line.grouped_routes}.length}" layout-padding ng-repeat="(course, routes) in ctrl.line.grouped_routes">
                    <h4>{{course}}</h4>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column>Sentido</th>
                                <th md-column style="width: 100%">Observação</th>
                                <th md-column>Distância</th>
                                <th md-column>Ações</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="route in routes">
                                <td md-cell>{{route.origin + ' → ' + route.destination == course ? 'Ida' : 'Volta'}}</td>
                                <td md-cell>{{route.observation ? route.observation : '-'}}</td>
                                <td md-cell>{{route.route_length/1000 | number: 2}} km</td>
                                <td md-cell>
                                    <md-button class="md-icon-button">
                                        <md-icon>edit</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-click="ctrl.deleteRoute(route.id)">
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </div>
            <block heading="Rotas" width="12">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6" ng-repeat="(course, routes) in ctrl.line.grouped_routes">
                                <h4>{{course}}</h4>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Distância</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="route in routes">
                                        <td>{{route.observation}}</td>
                                        <td>{{route.route_length/1000 | number: 2}} km</td>
                                        <td><button type="button" class="btn btn-xs btn-danger" ng-click="ctrl.deleteRoute(route.id)"><i class="fa fa-fw fa-close"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Nova Rota</h3>
                                <form ng-submit="ctrl.createRoute()" name="ctrl.routeForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="route_origin" class="col-sm-3 control-label">Origem</label>
                                        <div class="col-sm-9">
                                            <input ng-model="ctrl.newRoute.origin" class="form-control" id="route_origin" type="text" name="origin" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="route_destination" class="col-sm-3 control-label">Destino</label>
                                        <div class="col-sm-9">
                                            <input ng-model="ctrl.newRoute.destination" class="form-control" id="route_destination" type="text" name="destination" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="route_observation" class="col-sm-3 control-label">Observação</label>
                                        <div class="col-sm-9">
                                            <input ng-model="ctrl.newRoute.observation" class="form-control" id="route_observation" type="text" name="observation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button ng-disabled="!ctrl.routeForm.$valid" type="submit" class="btn btn-default">Salvar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </block>
        </div>
    </div>
</md-content>