<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Abrir Linha</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    &times;
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-autocomplete md-selected-item="model.line"
                                 md-search-text="model.text"
                                 md-items="line in findLine(model.text)"
                                 md-item-text="line.name"
                                 md-floating-label="Linha"
                                 md-min-length="0">
                    <md-item-template>
                        {{line.short_name}} - {{line.name}}
                    </md-item-template>
                </md-autocomplete>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button ng-click="confirm()">Abrir</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
