<div style="flex: 1" layout="row">
    <md-content id="nav-info" ng-class="{open: ctrl.sidenavOpen}" layout="column">
        <md-toolbar class="md-whiteframe-1dp">
            <div class="md-toolbar-tools">

            </div>
        </md-toolbar>
        <div flex style="overflow: auto">
            <ul>
                <li ng-repeat="route in ctrl.routes">
                    Pegue a linha <strong>{{route.route.line.name}}</strong><br>
                    Ponto: {{route.stops[0].name}}
                </li>
            </ul>
        </div>
    </md-content>
    <div id="map" style="height: 100%;" flex class="map"></div>
</div>
<md-progress-linear md-mode="indeterminate" ng-show="ctrl.loading" style="position: absolute; top: 0; width: 100%"></md-progress-linear>
<div id="searchbox-container">
    <div id="searchbox">
        <md-button id="menu-button" ng-click="ctrl.toggleSidenav()">
            <md-icon>menu</md-icon>
        </md-button>
        <div id="inputs-container">
            <div id="origin-container">
                <md-button title="Localização Atual">
                    <md-icon>my_location</md-icon>
                </md-button>
                <input type="text" placeholder="Ponto de Partida" ng-model="ctrl.originText">
                <md-button ng-click="ctrl.setOriginPoint()" title="Selecionar no Mapa">
                    <md-icon>place</md-icon>
                </md-button>
            </div>
            <div id="destination-container">
                <md-button ng-click="ctrl.toggleOrigin()">
                    <md-icon>arrow_drop_down</md-icon>
                </md-button>
                <input type="text" placeholder="Destino" ng-model="ctrl.destinationText">
                <md-button ng-click="ctrl.setDestinationPoint()" title="Selecionar no Mapa">
                    <md-icon>place</md-icon>
                </md-button>
            </div>
        </div>
        <md-button ng-click="ctrl.traceRoute()" id="search-button" title="Pesquisar Rota">
            <md-icon>search</md-icon>
        </md-button>
    </div>
</div>
