<div flex layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <md-button ng-click="ctrl.setOriginPoint()">Definir Ponto 1</md-button>
            <md-button ng-click="ctrl.setDestinationPoint()">Definir Ponto 2</md-button>
            <md-button ng-click="ctrl.traceRoute()">Traçar Rota</md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-hide="!ctrl.loading"></md-progress-linear>
    <div id="map" flex></div>
</div>