<!DOCTYPE html>
<html lang="pt-br" ng-app="achaBus">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadê o Busão?</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body ng-controller="MainController as main" ng-cloak>
<div ui-view/>
</body>
<script async defer
        src="https://maps.googleapis.com/maps/api/js">
</script>
</html>
