<md-toolbar class="md-whiteframe-1dp">
    <div class="md-toolbar-tools">
        <h2><span>Home</span></h2>
    </div>
</md-toolbar>
<md-content flex md-scroll-y layout="column">
    <div class="content">
        <div ncy-breadcrumb></div>
        <div class="md-whiteframe-4dp white-bg" layout="column" layout-padding>
            <h2>Pendências de Pontos por Região</h2>
            <ul>
                <li>Cidade Nova</li>
                <li>Vila C Norte e Sul</li>
                <li>Jardim Paraná e Rua Belo Horizonte</li>
                <li>Avenida Gramado, Avenida Brodoski e Avenida Parati (Vila A)</li>
                <li>Jardim Aporã e Jardim Ipê II</li>
                <li>Gleba Guarani (loteamentos novos)</li>
                <li>Jardim Curitibano IV, Jardim Lancaster IV</li>
                <li>Jardim São Rafael</li>
            </ul>
        </div>
    </div>
</md-content>