<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cadê o Busão - Editor</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Cadê o Busão</a>
				</div>
				<div class="navbar-collapse collapse" id="navbar-menu">
					<%= #build_top_menu(%w[nav navbar-nav navbar-right]) %>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/profile">admin</a></li>
					</ul>
					<%= #build_menu(%w[nav navbar-nav]) %>
				</div>
			</div>
		</nav>
		<div class="container<% if defined? wide %>-fluid<% end %> main-container">
			<div class="row main-row">
				<div class="col-md-12 main">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
