<!DOCTYPE html>
<html lang="pt-br" ng-app="mapEditor">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cadê o Busão - Editor</title>
		<%= javascript_include_tag 'map_editor' %>
		<%= stylesheet_link_tag 'map_editor' %>
	</head>
	<body ng-controller="MapEditorController" ng-cloak>
		<%= yield %>
	</body>
</html>
